@model gloventApp.GUI.Models.galerieModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<div class="box">
    <div class="box-header">
        <h3 class="box-title">Hover Data Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.name)</th>
                    <th>@Html.DisplayNameFor(model => model.evente.nameEvent)</th>
                </tr>
            </tbody>
          
            
                <tr>
                    <td>@Html.DisplayFor(model => model.name)</td>
                    <td>@Html.DisplayFor(model => model.evente.nameEvent)</td>

                </tr>
            
        </table>
    </div>
</div>

<table>
    <tr>
        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("Edit", "Edit", new { id = Model.id })</button>
        </td>

        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("Image", "Image", new { id = Model.id })  </button>
        </td>
        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("Video", "Video", new { id = Model.id })</button>
        </td>
        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("ImageInvisible", "ImageInvisible", new { id = Model.id })</button>
        </td>
        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("VideoInvisible", "VideoInvisible", new { id = Model.id })</button>
        </td>
        <td>
            <button type="button" class="btn btn-block btn-primary">@Html.ActionLink("Back to List", "Index")</button>
        </td>
    </tr>

</table>

