@model gloventApp.GUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "panel-body", role = "form" }))


{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <link href="~/Styles/style.css" rel="stylesheet" type="text/css" media="screen" runat="server" />
    <div class="form-group has-feedback">
        @Html.LabelFor(m => m.Email, new { @class = "col-xs-6 col-sm-6 col-md-6" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.fName, new { @class = "col-xs-6 col-sm-6 col-md-6" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.age, new { @class = "col-xs-6 col-sm-6 col-md-6" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.age, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-xs-6 col-sm-6 col-md-6" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-6 col-sm-6 col-md-6" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-10">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Register" />
        </div>
    </div>

}

